Source: lingmo-workspace
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends:
    cmake (>= 3.20),
    debhelper-compat (= 13),
    libkf6config-dev,
    libkf6kiocore-dev,
    libkf6kiofilewidgets-dev,
    libkf6kiowidgets-dev,
    libkf6solid-dev,
    libkf6windowsystem-dev,
    qt6-base-dev (>= 6.5),
    qt6-declarative-dev,
Standards-Version: 4.6.2
Homepage: https://github.com/Matrinsoft/lingmo-workspace
Rules-Requires-Root: no

Package: lingmo-workspace
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: lingmo-workspace
 Lingmo Desktop lingmo-workspace.
